.nav {
    grid-area: n;
    background-color: #22ff00;
    padding: 20px;
    text-decoration: none;
}

.item{
    color: #5e8129;
    text-decoration: none;
}
.active{
    color: red;
    text-decoration: none;
}
